* {
  box-sizing: border-box;
}
h1.head1 {
  color: white;
text-align: center;
}
.header1 {
  width: 100%;
  height: 20%;
  background: black;
  margin: 2px;
  padding: 10px;
  border: solid 2px;
  border-color: black;
  text-align: center;

  background-image: linear-gradient(to bottom right,white,black);

}
.column {
  float: left;
  padding: 5px;
  border:  solid 2px;
  margin: 2px;


  }

.column.left {
background: black;
width: 20%;
background-image: linear-gradient(to bottom right,white 10%,black);
color: black;
}
.column.right {
background: black;
width: 25%;
background-image: linear-gradient(to bottom right,white 10%,black);
color: black;
}
#btn1 {

  background-color: #e88a3a;
  border: solid 1px;
  padding: 10px;
  margin: 5px;
  border-color: #6e4020;
}
h4.calabel {
  color: green;
text-align: center;
background-image: radial-gradient(black,green);


}

#canvas1 {
  width: 480px;
  height: 320px;

  background-color: black;
display: block;
margin: auto;


}
.column.middle {
background: #050505;
color: darkgrey;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
body {
  background-color: #0f0f0f;
}
@media screen and (max-width: 600px) {
  .column.side, .column.middle{
    width: 100%;
  }
}
.footer1 {
  background-color: green;
  width: 100%;
  background-image: linear-gradient(to bottom,green,black 90%);
  text-align: center;
  padding: 1px;

}
